# Ignorar node_modules
node_modules/

# Ignorar arquivos de ambiente
.env

# Ignorar logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
