<div class="form-container">
    <form action="/cars/add" method="post">
        <input type="text" name="brand" placeholder="Digite a marca">
        <input type="text" name="model" placeholder="Digite o modelo">
        <input type="number" name="year">
        <label for="used">Usado:</label><input type="checkbox" name="used">
        <input type="submit" value="Adicionar">
    </form>
</div>